html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

canvas {
    touch-action: none;
}

.htmlScreen .iframeWrapper {
    width: 470px;
    height: 390px;

    padding: 0;
    position: relative;
}

.htmlScreen iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background: transparent;
    overflow: hidden;
    border: none;
}

